$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "bourbon/bourbon";
@import "_variables.scss";
@import "_reset.scss";
@import "main_dashboard.scss";

html { font-size: 62.5%; }
body {
  padding: 0;
  margin: 0;
  overflow: auto;
  font-size: 1.4rem;
  font-family: $font-openSans;
  background: #eee;
}


header {
  height: 50px;
  .header-logo {
    display: block;
    height: 100%;
    width: 50px;
    background: $blue;
    overflow: hidden;
    float: left;
    img:first-child {
      @extend .verticalAlign;
      display: block;
      width: 40px;
      margin: auto;
    }

    img:last-child {
      position: absolute;
      display: none;
    }
  }
  h1 {
    @extend .verticalAlign;
    font-size: 2.4rem;
    color: rgba(0,0,0,0.8);
    font-family: $font-montserrat;
    display: block;
    float: left;
    margin-top: auto;
    margin-left: 15px;
  }
}


