@font-face {
  font-family: 'calluna';
  src: url("fonts/Calluna/Calluna-Regular.otf");
}
/* rgba(63,81,181,1); */
/*$font-serif: 'Playfair Display', Georgia, serif;*/
/* --- Dashboard z-index --- */
/* ------------------------- */
/* line 22, _variables.scss */
.verticalAlign {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 27, _variables.scss */
.boxShadowGlobal {
  -webkit-box-shadow: -3px 3px 10px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 3px 10px 2px rgba(0, 0, 0, 0.1);
}

/* ------ Dashboard Overlay ------ */
/* line 5, main_addProject.scss */
.addProject {
  background: #3F51B5;
}
/* line 8, main_addProject.scss */
.addProject,
.addProject .addProject-background,
.addProject .addProject-content {
  position: absolute;
  width: 100%;
  min-height: calc(100% - 50px);
  height: auto;
  margin: 50px auto 0 auto;
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 23, main_addProject.scss */
.addProject .addProject-content {
  z-index: 2;
  background: rgba(63, 81, 181, 0.9);
}
/* line 27, main_addProject.scss */
.addProject .addProject-content .addProject_control {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  width: 70px;
  height: 70px;
  z-index: 110;
}
/* line 37, main_addProject.scss */
.addProject .addProject-content .addProject_control button {
  position: relative;
  display: block;
  border: 0;
  background: none;
  width: 100%;
  height: 100%;
}
/* line 44, main_addProject.scss */
.addProject .addProject-content .addProject_control button i.fa {
  color: #fff;
  font-size: 1.6rem;
}
/* line 51, main_addProject.scss */
.addProject .addProject-content form {
  position: fixed;
  display: block;
  width: 70%;
  height: 70%;
  margin: auto;
  right: 0;
  left: 0;
  overflow: hidden;
}
/* line 61, main_addProject.scss */
.addProject .addProject-content form .input {
  position: absolute;
  display: block;
  width: 100%;
  height: 120px;
  overflow: hidden;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: 100;
  -webkit-transition: all 0.4s cubic-bezier(0.39, 0.01, 0.2, 0.98);
  -moz-transition: all 0.4s cubic-bezier(0.39, 0.01, 0.2, 0.98);
  transition: all 0.4s cubic-bezier(0.39, 0.01, 0.2, 0.98);
}
/* line 77, main_addProject.scss */
.addProject .addProject-content form .hiddenValid {
  opacity: 0 !important;
  z-index: 50 !important;
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
}
/* line 82, main_addProject.scss */
.addProject .addProject-content form .hiddenUnvalid {
  opacity: 0 !important;
  z-index: 50 !important;
  -webkit-transform: translateY(40px);
  -moz-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -o-transform: translateY(40px);
  transform: translateY(40px);
}
/* line 88, main_addProject.scss */
.addProject .addProject-content form .input__field {
  position: relative;
  display: block;
  float: right;
  margin-top: 26px;
  border: none;
  border-radius: 0;
  font-family: Georgia, serif;
  -webkit-appearance: none;
  padding: 22px 15px 23px 15px;
  width: 100%;
  background: rgba(57, 73, 163, 0.8);
  color: #fff;
  font-size: 2rem;
}
/* line 104, main_addProject.scss */
.addProject .addProject-content form .input__field:focus {
  outline: none;
}
/* line 108, main_addProject.scss */
.addProject .addProject-content form .input__label {
  float: right;
  color: rgba(255, 255, 255, 0.5);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 17px;
  font-size: 2rem;
  left: 15px;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0em;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.3s 0.1s, color 1s;
  transition: transform 0.3s 0.1s, color 1s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
/* line 137, main_addProject.scss */
.addProject .addProject-content form .input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}
/* line 144, main_addProject.scss */
.addProject .addProject-content form .graphic {
  position: absolute;
  top: -16px;
  left: 0;
  fill: none;
  stroke-width: 4px;
  stroke: #2f3e8f;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
  transition: transform 0.7s, stroke 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
/* line 158, main_addProject.scss */
.addProject .addProject-content form .icon {
  color: #ddd;
  font-size: 150%;
}
/* line 164, main_addProject.scss */
.addProject .addProject-content form .input__field:focus + .input__label,
.addProject .addProject-content form .input--filled .input__label {
  color: white;
  -webkit-transform: translate3d(0, -1.8em, 0) scale3d(0.75, 0.75, 1);
  transform: translate3d(0, -1.8em, 0) scale3d(0.75, 0.75, 1);
}
/* line 171, main_addProject.scss */
.addProject .addProject-content form .input__field:focus ~ .graphic,
.addProject .addProject-content form .input--filled .graphic {
  stroke: white;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
}

/* ------------------------------- */
/*h2 {
   font-family: $font-sansserif;
   font-size: 19rem;
   height: 89rem;
   line-height: 1.2;
   position: absolute;
   top: 0;
   bottom: 0;
   margin: auto;
   color: #fff;
 }*/
/* line 214, main_addProject.scss */
.addProject-background {
  z-index: 1;
  color: #fff;
  position: relative !important;
  margin: 0 auto 150px auto !important;
  padding: 20px;
  width: 75% !important;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 224, main_addProject.scss */
.addProject-background header {
  margin-bottom: 4.8rem;
}
/* line 226, main_addProject.scss */
.addProject-background header .project--backDash {
  position: absolute;
  display: block;
  left: 35px;
  top: 30px;
}
/* line 232, main_addProject.scss */
.addProject-background header .project--edit {
  position: absolute;
  top: 35px;
  right: 35px;
  display: block;
  font-size: 2rem;
  padding: 5px;
  color: #fff;
  opacity: 0.6;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 242, main_addProject.scss */
.addProject-background header .project--edit:hover {
  opacity: 1;
}
/* line 246, main_addProject.scss */
.addProject-background header .project--projectTitle {
  text-align: center;
  display: block;
  margin-top: 6rem;
}
/* line 250, main_addProject.scss */
.addProject-background header .project--projectTitle, .addProject-background header .project--projectTitle h2, .addProject-background header .project--projectTitle hr, .addProject-background header .project--projectTitle h3 {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 253, main_addProject.scss */
.addProject-background header .project--projectTitle h1 {
  font-size: 12rem;
  line-height: 1.3;
  font-family: Georgia, serif;
  color: #fff;
  margin-bottom: 0.8rem;
  -webkit-transition: font-size 0.2s ease-out;
  -moz-transition: font-size 0.2s ease-out;
  transition: font-size 0.2s ease-out;
}
/* line 261, main_addProject.scss */
.addProject-background header .project--projectTitle h3 {
  color: rgba(255, 255, 255, 0.4);
  padding-top: 0px;
}
/* line 268, main_addProject.scss */
.addProject-background ul.project-date li,
.addProject-background ul.project-links li {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.4);
  line-height: 2.4rem;
}
/* line 273, main_addProject.scss */
.addProject-background ul.project-date li span,
.addProject-background ul.project-links li span {
  color: rgba(255, 255, 255, 0.8);
}
/* line 278, main_addProject.scss */
.addProject-background ul.project-date {
  float: left;
  display: block;
}
/* line 281, main_addProject.scss */
.addProject-background ul.project-date li {
  text-align: left;
}
/* line 283, main_addProject.scss */
.addProject-background ul.project-date li .project--projectDevelopment {
  font-weight: bold;
  color: #fff;
  font-size: 1.1rem;
}
/* line 287, main_addProject.scss */
.addProject-background ul.project-date li .project--projectDevelopment:after {
  content: "In development";
  display: inline-block;
  position: relative;
  margin-left: 5px;
  font-size: 1.4rem;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  /*opacity: 0;
  @include transform(translateY(-10px));*/
}
/* line 302, main_addProject.scss */
.addProject-background ul.project-links {
  float: right;
  display: block;
}
/* line 305, main_addProject.scss */
.addProject-background ul.project-links li {
  text-align: right;
}
/* line 310, main_addProject.scss */
.addProject-background main {
  float: none;
  clear: both;
    /*ul.contentTocChildren {
      & > li &:before {
        content: '-';
        font-weight: 500;
        display: inline-block;
        font-size: 2rem;
        color: rgba(0,0,0,0.3);
        margin-left: 25px;
      }

      &.nested > li:before {
        content: '--';
        font-weight: 500;
        display: inline-block;
        font-size: 2rem;
        color: rgba(0,0,0,0.3);
        margin-left: 50px;
      }
    }*/
}
/* line 314, main_addProject.scss */
.addProject-background main h2 {
  margin-top: 110px;
  margin-bottom: 15px;
  padding-top: 80px;
  padding-bottom: 15px;
  color: #fff;
  font-family: Georgia, serif;
  font-size: 5rem;
  letter-spacing: 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 325, main_addProject.scss */
.addProject-background main h2:first-child {
  margin-top: 250px;
}
/* line 327, main_addProject.scss */
.addProject-background main div.content {
  margin: 0 auto 2.4rem auto;
}
/* line 329, main_addProject.scss */
.addProject-background main div.content p {
  display: block;
  font-size: 1.8rem;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
  font-family: Georgia, serif;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
/* line 339, main_addProject.scss */
.addProject-background main ul.contentToc {
  margin-top: 30px;
}
/* line 342, main_addProject.scss */
.addProject-background main ul.contentToc li a {
  font-size: 1.8rem;
  display: block;
  padding: 10px 5px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  position: relative;
  font-family: Georgia, serif;
  /* &:hover {
     color: #000;
     span {
       margin-right: 10px;
     }
   }*/
}
/* line 357, main_addProject.scss */
.addProject-background main ul.contentToc li a, .addProject-background main ul.contentToc li a span {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
/* line 359, main_addProject.scss */
.addProject-background main ul.contentToc li a span {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  margin-right: 5px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
/* line 371, main_addProject.scss */
.addProject-background main ul.contentTocChildren li a {
  padding: 10px 5px 10px 40px;
}
/* line 372, main_addProject.scss */
.addProject-background main ul.contentTocChildren.nested li a {
  padding: 10px 5px 10px 80px;
}

/*# sourceMappingURL=main_addProject.css.map */
