@font-face {
  font-family: 'calluna';
  src: url("fonts/Calluna/Calluna-Regular.otf");
}
/* rgba(63,81,181,1); */
/*$font-serif: 'Playfair Display', Georgia, serif;*/
/* --- Dashboard z-index --- */
/* ------------------------- */
/* line 22, _variables.scss */
.verticalAlign, .dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 27, _variables.scss */
.boxShadowGlobal {
  -webkit-box-shadow: -3px 3px 10px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 3px 10px 2px rgba(0, 0, 0, 0.1);
}

/* line 4, main_dashboard.scss */
.dashboard {
  /* ---- Section - Content bar ---- */
  /* ------------------------------- */
}
/* line 8, main_dashboard.scss */
.dashboard section.dashboard-projects {
  background: #fff;
  margin-bottom: 50px;
  z-index: 10;
  position: relative;
}
/* line 14, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project {
  overflow: hidden;
  cursor: pointer;
  display: block;
  float: left;
  width: 19%;
  margin: 0.5%;
  height: 200px;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  /*border-top: 2px solid rgba(255,255,255,0);
  border-right: 2px solid rgba(255,255,255,0);
  border-bottom: 2px solid rgba(255,255,255,0);
  border-left: 2px solid rgba(255,255,255,0);
  @extend .boxShadowGlobal;*/
  -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out, -moz-transform 0.2s ease-out;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}
/* line 33, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectDevelopment {
  position: absolute;
  display: block;
  padding: 10px 15px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #3F51B5;
  opacity: 0.6;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
/* line 42, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectDevelopment:after {
  content: "In development";
  display: inline-block;
  position: relative;
  margin-left: 6px;
  top: -2px;
  font-size: 1.2rem;
  font-weight: normal;
  color: rgba(63, 81, 181, 0.8);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  opacity: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}
/* line 57, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle {
  text-align: center;
  display: block;
}
/* line 62, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle, .dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle h2, .dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle hr, .dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle h3 {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 66, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle h2 {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.8);
  font-family: Georgia, serif;
}
/* line 71, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle hr {
  display: block;
  width: 0px;
  opacity: 0;
  margin-top: 4px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 78, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle hr.hrLoader {
  border: 1px solid #3F51B5;
  margin-top: -26px;
}
/* line 83, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle h3 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-style: italic;
  color: rgba(0, 0, 0, 0.4);
  padding-top: 0px;
}
/* line 91, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project footer {
  margin-top: 100px;
  top: 0;
  opacity: 0;
}
/* line 95, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project footer, .dashboard section.dashboard-projects article.dashboard--project footer .dashboard---lastUpdate, .dashboard section.dashboard-projects article.dashboard--project footer .dashboard---lastUpdate span {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 100, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project footer .dashboard---lastUpdate {
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 1.2rem;
  font-style: italic;
  color: rgba(0, 0, 0, 0.2);
}
/* line 108, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project footer .dashboard---lastUpdate span {
  font-style: normal;
  color: rgba(0, 0, 0, 0.4);
}

/* --- Article Hover Styles --- */
/* line 126, main_dashboard.scss */
.dashboard--projectHover {
  border: 2px solid #3F51B5 !important;
}
/* line 128, main_dashboard.scss */
.dashboard--projectHover .dashboard---projectDevelopment {
  -webkit-transition-delay: 0.5s !important;
  -moz-transition-delay: 0.5s !important;
  transition-delay: 0.5s !important;
  opacity: 1;
  margin: -1px 0 0 -1px !important;
}
/* line 132, main_dashboard.scss */
.dashboard--projectHover .dashboard---projectDevelopment:after {
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
  -moz-transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -o-transform: translateY(0) !important;
  transform: translateY(0) !important;
}
/* line 138, main_dashboard.scss */
.dashboard--projectHover .dashboard---projectTitle h2 {
  color: black !important;
}
/* line 139, main_dashboard.scss */
.dashboard--projectHover .dashboard---projectTitle hr:not(.hrLoader) {
  margin-top: 18px !important;
  margin-bottom: 24px !important;
  width: 100px !important;
  opacity: 1 !important;
}
/* line 145, main_dashboard.scss */
.dashboard--projectHover .dashboard---projectTitle h3 {
  color: rgba(0, 0, 0, 0.6) !important;
  padding-top: 4px !important;
}
/* line 150, main_dashboard.scss */
.dashboard--projectHover footer {
  -webkit-transition-delay: 0.2s !important;
  -moz-transition-delay: 0.2s !important;
  transition-delay: 0.2s !important;
  margin-top: 95px !important;
  top: 0;
  opacity: 1 !important;
}
/* line 155, main_dashboard.scss */
.dashboard--projectHover footer .dashboard---lastUpdate {
  color: rgba(0, 0, 0, 0.4) !important;
}
/* line 157, main_dashboard.scss */
.dashboard--projectHover footer .dashboard---lastUpdate span {
  color: rgba(0, 0, 0, 0.6) !important;
}

/* line 162, main_dashboard.scss */
.dashboard--projectNotHover .dashboard---projectDevelopment {
  opacity: 0.2;
}
/* line 164, main_dashboard.scss */
.dashboard--projectNotHover .dashboard---projectTitle h2 {
  color: rgba(0, 0, 0, 0.2) !important;
}
/* line 165, main_dashboard.scss */
.dashboard--projectNotHover .dashboard---projectTitle h3 {
  color: rgba(0, 0, 0, 0.2) !important;
}
/* line 167, main_dashboard.scss */
.dashboard--projectNotHover footer .dashboard---lastUpdate {
  color: rgba(0, 0, 0, 0.1) !important;
}
/* line 169, main_dashboard.scss */
.dashboard--projectNotHover footer .dashboard---lastUpdate span {
  color: rgba(0, 0, 0, 0.3) !important;
}

/* -------------------- */
/* --- Article Clicked Styles --- */
/* line 178, main_dashboard.scss */
.dashboard--projectClicked,
.dashboard--projectNotClicked {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* ------------------------------ */
@media screen and (max-width: 1500px) {
  /* line 195, main_dashboard.scss */
  article.dashboard--project {
    width: 24% !important;
  }
}
@media screen and (max-width: 1200px) {
  /* line 200, main_dashboard.scss */
  article.dashboard--project {
    width: 32.3% !important;
  }
}
@media screen and (max-width: 992px) {
  /* line 205, main_dashboard.scss */
  article.dashboard--project {
    width: 49% !important;
  }
}
@media screen and (max-width: 700px) {
  /* line 210, main_dashboard.scss */
  article.dashboard--project {
    width: 99% !important;
  }
}

/*# sourceMappingURL=main_dashboard.css.map */
