@font-face {
  font-family: 'calluna';
  src: url("fonts/Calluna/Calluna-Regular.otf");
}
/* rgba(63,81,181,1); */
/* --- Dashboard z-index --- */
/* ------------------------- */
/* line 22, _variables.scss */
.verticalAlign, .dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 27, _variables.scss */
.boxShadowGlobal {
  -webkit-box-shadow: -3px 3px 10px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 3px 10px 2px rgba(0, 0, 0, 0.1);
}

/* line 4, main_dashboard.scss */
.dashboard {
  /* ---- Nav - Tools bar ---- */
  /* ------------------------- */
  /* ---- Section - Content bar ---- */
  /* ------------------------------- */
}
/* line 7, main_dashboard.scss */
.dashboard nav.dashboard-tools {
  position: fixed;
  display: inline-block;
  width: calc(100% - 160px);
  top: 0;
  border-bottom: 1px solid #e5e5e5;
  /*margin: 0 0.5% 12px 0.5%;*/
  height: 50px;
  margin-left: 160px;
  background-color: #fff;
  z-index: 50;
}
/* line 19, main_dashboard.scss */
.dashboard nav.dashboard-tools > div {
  background: #fff;
  /*@extend .boxShadowGlobal;*/
  padding: 3px 0 7px 0px;
  height: 49px;
  float: right;
  -webkit-transition: all 0.4s cubic-bezier(0.39, 0.01, 0.2, 0.98);
  -moz-transition: all 0.4s cubic-bezier(0.39, 0.01, 0.2, 0.98);
  transition: all 0.4s cubic-bezier(0.39, 0.01, 0.2, 0.98);
  border-left: 1px solid #e5e5e5;
  cursor: pointer;
}
/* line 29, main_dashboard.scss */
.dashboard nav.dashboard-tools > div span {
  display: inline-block;
  height: 100%;
  padding: 10px;
  font-size: 1.6rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 42, main_dashboard.scss */
.dashboard nav.dashboard-tools > div:hover span, .dashboard nav.dashboard-tools > div:hover i, .dashboard nav.dashboard-tools > div:focus span, .dashboard nav.dashboard-tools > div:focus i {
  color: #3F51B5 !important;
  opacity: 1;
}
/* line 49, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--search {
  overflow: hidden;
  padding: 4px 0 6px 9px;
  cursor: text;
}
/* line 53, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--search label {
  margin-bottom: 0;
}
/* line 55, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--search label i.fa {
  cursor: text;
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.6rem;
  padding: 10px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 63, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--search label input {
  width: 0px;
  opacity: 0;
  padding: 8px 5px 12px 0;
  line-height: 1.5;
  font-size: 1.6rem;
  color: #3F51B5;
  background: rgba(255, 255, 255, 0);
  border: 0;
  outline: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.39, 0.01, 0.2, 0.98);
  -moz-transition: all 0.4s cubic-bezier(0.39, 0.01, 0.2, 0.98);
  transition: all 0.4s cubic-bezier(0.39, 0.01, 0.2, 0.98);
}
/* line 74, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--search label input::-webkit-input-placeholder {
  color: rgba(63, 81, 181, 0.6);
  font-weight: 100;
  margin-top: -2px;
}
/* line 79, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--search label input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(63, 81, 181, 0.6);
  font-weight: 100;
  margin-top: -2px;
}
/* line 84, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--search label input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(63, 81, 181, 0.6);
  font-weight: 100;
  margin-top: -2px;
}
/* line 89, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--search label input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(63, 81, 181, 0.6);
  font-weight: 100;
  margin-top: -2px;
}
/* line 97, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--search:hover label i, .dashboard nav.dashboard-tools .dashboard--search:focus,
.dashboard nav.dashboard-tools .dashboard--search input:focus * {
  color: #3F51B5;
}
/* line 102, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--search:hover label input,
.dashboard nav.dashboard-tools .dashboard--search input:focus {
  width: 100px;
  opacity: 1;
}
/* line 111, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--addProject {
  float: right;
  width: 50px;
  padding: 0;
}
/* line 115, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--addProject i.fa, .dashboard nav.dashboard-tools .dashboard--addProject span {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
/* line 119, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--addProject:hover i.fa:after {
  opacity: 1;
  top: 100px;
}
/* line 123, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--addProject i.fa {
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.8rem;
  cursor: pointer;
  float: left;
}
/* line 128, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--addProject i.fa:before {
  display: block;
  position: relative;
  content: "\f067";
  margin-top: 0px;
  padding: 16px 18px 15px 18px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}
/* line 137, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--addProject i.fa:after {
  content: 'Add a project';
  display: block;
  position: absolute;
  padding: 15px 13px;
  width: 154px;
  height: 50px;
  /*opacity: 1;
  top: 100px;*/
  opacity: 0;
  top: -60px;
  right: -51px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #3F51B5;
  background-color: #FFF;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  z-index: -1;
  -webkit-transition: all 0.4s cubic-bezier(0.39, 0.01, 0.2, 0.98);
  -moz-transition: all 0.4s cubic-bezier(0.39, 0.01, 0.2, 0.98);
  transition: all 0.4s cubic-bezier(0.39, 0.01, 0.2, 0.98);
}
/* line 169, main_dashboard.scss */
.dashboard section.dashboard-projects {
  background: #fff;
  margin-bottom: 50px;
  z-index: 10;
  position: relative;
}
/* line 175, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project {
  overflow: hidden;
  cursor: pointer;
  display: block;
  float: left;
  width: 19%;
  margin: 0.5%;
  height: 200px;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  /*border-top: 2px solid rgba(255,255,255,0);
  border-right: 2px solid rgba(255,255,255,0);
  border-bottom: 2px solid rgba(255,255,255,0);
  border-left: 2px solid rgba(255,255,255,0);
  @extend .boxShadowGlobal;*/
  -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out, -moz-transform 0.2s ease-out;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}
/* line 194, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectDevelopment {
  position: absolute;
  display: block;
  padding: 10px 15px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #3F51B5;
  opacity: 0.6;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
/* line 203, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectDevelopment:after {
  content: "In development";
  display: inline-block;
  position: relative;
  margin-left: 6px;
  top: -2px;
  font-size: 1.2rem;
  font-weight: normal;
  color: rgba(63, 81, 181, 0.8);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  opacity: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}
/* line 218, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle {
  text-align: center;
  display: block;
}
/* line 223, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle, .dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle h2, .dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle hr, .dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle h3 {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 227, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle h2 {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Playfair Display", Georgia, serif;
}
/* line 232, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle hr {
  display: block;
  width: 0px;
  opacity: 0;
  margin-top: 4px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 239, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle hr.hrLoader {
  border: 1px solid #3F51B5;
  margin-top: -26px;
}
/* line 244, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle h3 {
  font-family: "Playfair Display", Georgia, serif;
  font-weight: 400;
  font-style: italic;
  color: rgba(0, 0, 0, 0.4);
  padding-top: 0px;
}
/* line 252, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project footer {
  margin-top: 100px;
  top: 0;
  opacity: 0;
}
/* line 256, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project footer, .dashboard section.dashboard-projects article.dashboard--project footer .dashboard---lastUpdate, .dashboard section.dashboard-projects article.dashboard--project footer .dashboard---lastUpdate span {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 261, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project footer .dashboard---lastUpdate {
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: "Playfair Display", Georgia, serif;
  font-size: 1.2rem;
  font-style: italic;
  color: rgba(0, 0, 0, 0.2);
}
/* line 269, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project footer .dashboard---lastUpdate span {
  font-style: normal;
  color: rgba(0, 0, 0, 0.4);
}

/* --- Article Hover Styles --- */
/* line 287, main_dashboard.scss */
.dashboard--projectHover {
  border: 2px solid #3F51B5 !important;
}
/* line 289, main_dashboard.scss */
.dashboard--projectHover .dashboard---projectDevelopment {
  -webkit-transition-delay: 0.5s !important;
  -moz-transition-delay: 0.5s !important;
  transition-delay: 0.5s !important;
  opacity: 1;
  margin: -1px 0 0 -1px !important;
}
/* line 293, main_dashboard.scss */
.dashboard--projectHover .dashboard---projectDevelopment:after {
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
  -moz-transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -o-transform: translateY(0) !important;
  transform: translateY(0) !important;
}
/* line 299, main_dashboard.scss */
.dashboard--projectHover .dashboard---projectTitle h2 {
  color: black !important;
}
/* line 300, main_dashboard.scss */
.dashboard--projectHover .dashboard---projectTitle hr:not(.hrLoader) {
  margin-top: 18px !important;
  margin-bottom: 24px !important;
  width: 100px !important;
  opacity: 1 !important;
}
/* line 306, main_dashboard.scss */
.dashboard--projectHover .dashboard---projectTitle h3 {
  color: rgba(0, 0, 0, 0.6) !important;
  padding-top: 4px !important;
}
/* line 311, main_dashboard.scss */
.dashboard--projectHover footer {
  -webkit-transition-delay: 0.2s !important;
  -moz-transition-delay: 0.2s !important;
  transition-delay: 0.2s !important;
  margin-top: 95px !important;
  top: 0;
  opacity: 1 !important;
}
/* line 316, main_dashboard.scss */
.dashboard--projectHover footer .dashboard---lastUpdate {
  color: rgba(0, 0, 0, 0.4) !important;
}
/* line 318, main_dashboard.scss */
.dashboard--projectHover footer .dashboard---lastUpdate span {
  color: rgba(0, 0, 0, 0.6) !important;
}

/* line 323, main_dashboard.scss */
.dashboard--projectNotHover .dashboard---projectDevelopment {
  opacity: 0.2;
}
/* line 325, main_dashboard.scss */
.dashboard--projectNotHover .dashboard---projectTitle h2 {
  color: rgba(0, 0, 0, 0.2) !important;
}
/* line 326, main_dashboard.scss */
.dashboard--projectNotHover .dashboard---projectTitle h3 {
  color: rgba(0, 0, 0, 0.2) !important;
}
/* line 328, main_dashboard.scss */
.dashboard--projectNotHover footer .dashboard---lastUpdate {
  color: rgba(0, 0, 0, 0.1) !important;
}
/* line 330, main_dashboard.scss */
.dashboard--projectNotHover footer .dashboard---lastUpdate span {
  color: rgba(0, 0, 0, 0.3) !important;
}

/* -------------------- */
/* --- Article Clicked Styles --- */
/* line 339, main_dashboard.scss */
.dashboard--projectClicked,
.dashboard--projectNotClicked {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/* ------------------------------ */
/* ------ Dashboard Overlay ------ */
/* line 350, main_dashboard.scss */
.dashboard-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 20;
  background: white;
}
/* line 358, main_dashboard.scss */
.dashboard-overlay .dashboard--newProject {
  position: relative;
  width: calc(100% - 100px);
  height: calc(100% - 50px);
  margin: 50px auto 0 auto;
}
/* line 364, main_dashboard.scss */
.dashboard-overlay .dashboard--newProject h2 {
  font-family: "Playfair Display", Georgia, serif;
  color: #000000;
  font-size: 4rem;
  line-height: 1.5;
  padding-bottom: 10px;
  /*border-bottom: 1px solid #E2E2E2;*/
  margin-top: 80px;
}
/* line 373, main_dashboard.scss */
.dashboard-overlay .dashboard--newProject form {
  position: absolute;
  display: block;
  width: 60%;
  height: 600px;
  overflow: hidden;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 386, main_dashboard.scss */
.dashboard-overlay .dashboard--newProject form .input {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
  padding-top: 1em;
}
/* line 395, main_dashboard.scss */
.dashboard-overlay .dashboard--newProject form .input__field {
  position: relative;
  display: block;
  float: right;
  border: none;
  border-radius: 0;
  font-family: "Playfair Display", Georgia, serif;
  -webkit-appearance: none;
  padding: 0.5em 0em 0.25em;
  width: 100%;
  background: transparent;
  color: 000;
  font-size: 2rem;
}
/* line 410, main_dashboard.scss */
.dashboard-overlay .dashboard--newProject form .input__field:focus {
  outline: none;
}
/* line 414, main_dashboard.scss */
.dashboard-overlay .dashboard--newProject form .input__label {
  float: right;
  color: rgba(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: -5px;
  font-size: 2rem;
  left: 0;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0em;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.3s 0.1s, color 1s;
  transition: transform 0.3s 0.1s, color 1s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
/* line 443, main_dashboard.scss */
.dashboard-overlay .dashboard--newProject form .input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}
/* line 450, main_dashboard.scss */
.dashboard-overlay .dashboard--newProject form .graphic {
  position: absolute;
  top: 3px;
  left: 0;
  fill: none;
  stroke: #D7D7D7;
  pointer-events: none;
  -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
  transition: transform 0.7s, stroke 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
/* line 463, main_dashboard.scss */
.dashboard-overlay .dashboard--newProject form .icon {
  color: #ddd;
  font-size: 150%;
}
/* line 469, main_dashboard.scss */
.dashboard-overlay .dashboard--newProject form .input__field:focus + .input__label,
.dashboard-overlay .dashboard--newProject form .input--filled .input__label {
  color: #D5D5D5;
  -webkit-transform: translate3d(0, -0.6em, 0) scale3d(0.75, 0.75, 1);
  transform: translate3d(0, -0.6em, 0) scale3d(0.75, 0.75, 1);
}
/* line 476, main_dashboard.scss */
.dashboard-overlay .dashboard--newProject form .input__field:focus ~ .graphic,
.dashboard-overlay .dashboard--newProject form .input--filled .graphic {
  stroke: #D5D5D5;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
}

/* ------------------------------- */
@media screen and (max-width: 1500px) {
  /* line 493, main_dashboard.scss */
  article.dashboard--project {
    width: 24% !important;
  }
}
@media screen and (max-width: 1200px) {
  /* line 498, main_dashboard.scss */
  article.dashboard--project {
    width: 32.3% !important;
  }
}
@media screen and (max-width: 992px) {
  /* line 503, main_dashboard.scss */
  article.dashboard--project {
    width: 49% !important;
  }
}
@media screen and (max-width: 700px) {
  /* line 508, main_dashboard.scss */
  article.dashboard--project {
    width: 99% !important;
  }
}

/*# sourceMappingURL=main_dashboard.css.map */
