@font-face {
  font-family: 'calluna';
  src: url("fonts/Calluna/Calluna-Regular.otf");
}
/* rgba(63,81,181,1); */
/* line 15, _variables.scss */
.verticalAlign, .dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 20, _variables.scss */
.boxShadowGlobal {
  -webkit-box-shadow: -3px 3px 10px 2px rgba(0, 0, 0, 0.1);
  box-shadow: -3px 3px 10px 2px rgba(0, 0, 0, 0.1);
}

/* line 4, main_dashboard.scss */
.dashboard {
  /* ---- Nav - Tools bar ---- */
  /* ------------------------- */
  /* ---- Section - Content bar ---- */
  /* ------------------------------- */
}
/* line 7, main_dashboard.scss */
.dashboard nav.dashboard-tools {
  position: fixed;
  display: inline-block;
  width: calc(100% - 160px);
  top: 0;
  border-bottom: 1px solid #e5e5e5;
  /*margin: 0 0.5% 12px 0.5%;*/
  height: 50px;
  margin-left: 160px;
  background-color: #fff;
  z-index: 1;
}
/* line 19, main_dashboard.scss */
.dashboard nav.dashboard-tools > div {
  background: #fff;
  /*@extend .boxShadowGlobal;*/
  padding: 4px 0 6px 0px;
  height: 49px;
  float: right;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-left: 1px solid #e5e5e5;
}
/* line 28, main_dashboard.scss */
.dashboard nav.dashboard-tools > div span {
  display: inline-block;
  height: 100%;
  padding: 10px;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 40, main_dashboard.scss */
.dashboard nav.dashboard-tools > div:hover span, .dashboard nav.dashboard-tools > div:hover i, .dashboard nav.dashboard-tools > div:focus span, .dashboard nav.dashboard-tools > div:focus i {
  color: #3F51B5 !important;
  opacity: 1;
}
/* line 47, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--search {
  overflow: hidden;
  padding: 4px 0 6px 9px;
}
/* line 50, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--search label {
  margin-bottom: 0;
}
/* line 52, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--search label i.fa {
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.6rem;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 60, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--search label input {
  width: 0px;
  opacity: 0;
  padding: 8px 5px 12px 0;
  line-height: 1.5;
  font-size: 1.6rem;
  color: #3F51B5;
  background: rgba(255, 255, 255, 0);
  border: 0;
  outline: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 71, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--search label input::-webkit-input-placeholder {
  color: rgba(63, 81, 181, 0.6);
  font-weight: 100;
  margin-top: -2px;
}
/* line 76, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--search label input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(63, 81, 181, 0.6);
  font-weight: 100;
  margin-top: -2px;
}
/* line 81, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--search label input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(63, 81, 181, 0.6);
  font-weight: 100;
  margin-top: -2px;
}
/* line 86, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--search label input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(63, 81, 181, 0.6);
  font-weight: 100;
  margin-top: -2px;
}
/* line 93, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--search label:hover i, .dashboard nav.dashboard-tools .dashboard--search label:focus,
.dashboard nav.dashboard-tools .dashboard--search label input:focus * {
  color: #3F51B5;
}
/* line 98, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--search label:hover input,
.dashboard nav.dashboard-tools .dashboard--search label input:focus {
  width: 100px;
  opacity: 1;
}
/* line 108, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--addProject {
  float: right;
  overflow: hidden;
  width: 50px;
}
/* line 112, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--addProject i.fa, .dashboard nav.dashboard-tools .dashboard--addProject span {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
/* line 116, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--addProject:hover {
  width: 180px;
}
/* line 118, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--addProject:hover span {
  margin-right: 0;
}
/* line 120, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--addProject i.fa {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.8rem;
  padding: 10px 15px;
  cursor: pointer;
  float: left;
  margin-top: 2px;
  margin-left: 3px;
}
/* line 129, main_dashboard.scss */
.dashboard nav.dashboard-tools .dashboard--addProject span {
  padding-left: 0;
  opacity: 0;
  float: left;
  margin-right: -120px;
}
/* line 144, main_dashboard.scss */
.dashboard section.dashboard-projects {
  background: #fff;
  margin-bottom: 50px;
}
/* line 148, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project {
  overflow: hidden;
  cursor: pointer;
  display: block;
  float: left;
  width: 19%;
  margin: 0.5%;
  height: 200px;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  /*border-top: 2px solid rgba(255,255,255,0);
  border-right: 2px solid rgba(255,255,255,0);
  border-bottom: 2px solid rgba(255,255,255,0);
  border-left: 2px solid rgba(255,255,255,0);
  @extend .boxShadowGlobal;*/
  -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out, -moz-transform 0.2s ease-out;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}
/* line 167, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectDevelopment {
  position: absolute;
  display: block;
  padding: 10px 15px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #3F51B5;
  opacity: 0.6;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
/* line 176, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectDevelopment:after {
  content: "In development";
  display: inline-block;
  position: relative;
  margin-left: 6px;
  top: -2px;
  font-size: 1.2rem;
  font-weight: normal;
  color: rgba(63, 81, 181, 0.8);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  opacity: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}
/* line 191, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle {
  text-align: center;
  display: block;
}
/* line 196, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle, .dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle h2, .dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle hr, .dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle h3 {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 200, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle h2 {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.8);
  font-family: Georgia, serif;
}
/* line 205, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle hr {
  display: block;
  width: 0px;
  opacity: 0;
  margin-top: 4px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 212, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle hr.hrLoader {
  border: 1px solid #3F51B5;
  margin-top: -26px;
}
/* line 217, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project .dashboard---projectTitle h3 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-style: italic;
  color: rgba(0, 0, 0, 0.4);
  padding-top: 0px;
}
/* line 225, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project footer {
  margin-top: 100px;
  top: 0;
  opacity: 0;
}
/* line 229, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project footer, .dashboard section.dashboard-projects article.dashboard--project footer .dashboard---lastUpdate, .dashboard section.dashboard-projects article.dashboard--project footer .dashboard---lastUpdate span {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 234, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project footer .dashboard---lastUpdate {
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 1.2rem;
  font-style: italic;
  color: rgba(0, 0, 0, 0.2);
}
/* line 242, main_dashboard.scss */
.dashboard section.dashboard-projects article.dashboard--project footer .dashboard---lastUpdate span {
  font-style: normal;
  color: rgba(0, 0, 0, 0.4);
}

/* --- Article Hover Styles --- */
/* line 260, main_dashboard.scss */
.dashboard--projectHover {
  border: 2px solid #3F51B5 !important;
}
/* line 262, main_dashboard.scss */
.dashboard--projectHover .dashboard---projectDevelopment {
  -webkit-transition-delay: 0.5s !important;
  -moz-transition-delay: 0.5s !important;
  transition-delay: 0.5s !important;
  opacity: 1;
  margin: -1px 0 0 -1px !important;
}
/* line 266, main_dashboard.scss */
.dashboard--projectHover .dashboard---projectDevelopment:after {
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
  -moz-transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -o-transform: translateY(0) !important;
  transform: translateY(0) !important;
}
/* line 272, main_dashboard.scss */
.dashboard--projectHover .dashboard---projectTitle h2 {
  color: black !important;
}
/* line 273, main_dashboard.scss */
.dashboard--projectHover .dashboard---projectTitle hr:not(.hrLoader) {
  margin-top: 18px !important;
  margin-bottom: 24px !important;
  width: 100px !important;
  opacity: 1 !important;
}
/* line 279, main_dashboard.scss */
.dashboard--projectHover .dashboard---projectTitle h3 {
  color: rgba(0, 0, 0, 0.6) !important;
  padding-top: 4px !important;
}
/* line 284, main_dashboard.scss */
.dashboard--projectHover footer {
  -webkit-transition-delay: 0.2s !important;
  -moz-transition-delay: 0.2s !important;
  transition-delay: 0.2s !important;
  margin-top: 95px !important;
  top: 0;
  opacity: 1 !important;
}
/* line 289, main_dashboard.scss */
.dashboard--projectHover footer .dashboard---lastUpdate {
  color: rgba(0, 0, 0, 0.4) !important;
}
/* line 291, main_dashboard.scss */
.dashboard--projectHover footer .dashboard---lastUpdate span {
  color: rgba(0, 0, 0, 0.6) !important;
}

/* line 296, main_dashboard.scss */
.dashboard--projectNotHover .dashboard---projectDevelopment {
  opacity: 0.2;
}
/* line 298, main_dashboard.scss */
.dashboard--projectNotHover .dashboard---projectTitle h2 {
  color: rgba(0, 0, 0, 0.2) !important;
}
/* line 299, main_dashboard.scss */
.dashboard--projectNotHover .dashboard---projectTitle h3 {
  color: rgba(0, 0, 0, 0.2) !important;
}
/* line 301, main_dashboard.scss */
.dashboard--projectNotHover footer .dashboard---lastUpdate {
  color: rgba(0, 0, 0, 0.1) !important;
}
/* line 303, main_dashboard.scss */
.dashboard--projectNotHover footer .dashboard---lastUpdate span {
  color: rgba(0, 0, 0, 0.3) !important;
}

/* -------------------- */
/* --- Article Clicked Styles --- */
/* line 312, main_dashboard.scss */
.dashboard--projectClicked,
.dashboard--projectNotClicked {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/*.dashboard--projectClicked  {
  border-top: 1px solid rgba(0,0,0,0) !important;
  border-right: 1px solid #eee !important;
  border-bottom: 1px solid #eee !important;
  border-left: 1px solid rgba(0,0,0,0) !important;

  .dashboard---projectDevelopment {
    opacity: 0;
    @include transition-delay(0.2s);
    @include transform(translateY(-20px));
  }
  .dashboard---projectTitle {
    h2 {
      @include transition-delay(0.5s);
      opacity: 0;
    }
    hr.hrLoader {
      width: 100px !important;
      opacity: 1 !important;
    }
    h3 {
      opacity: 0 !important;
      @include transition-delay(0.5s);
      @include transform(translateY(20px));
    }
  }
  footer {
    opacity: 0 !important;
    @include transition-delay(0.3s);
    @include transform(translateY(20px));
  }
}
.dashboard--projectNotClicked {
  opacity: 0;
}*/
/* ------------------------------ */
@media screen and (max-width: 1500px) {
  /* line 355, main_dashboard.scss */
  article.dashboard--project {
    width: 24% !important;
  }
}
@media screen and (max-width: 1200px) {
  /* line 360, main_dashboard.scss */
  article.dashboard--project {
    width: 32.3% !important;
  }
}
@media screen and (max-width: 992px) {
  /* line 365, main_dashboard.scss */
  article.dashboard--project {
    width: 49% !important;
  }
}
@media screen and (max-width: 700px) {
  /* line 370, main_dashboard.scss */
  article.dashboard--project {
    width: 99% !important;
  }
}

/*# sourceMappingURL=main_dashboard.css.map */
