<div class="dashboard modify">


  <section class="dashboard-projects">
    <article ng-repeat="project in projectsDashboard | filter:search | orderBy:project.inDev" class="dashboard--project {{project.value}}" data-value="{{project.value}}" ng-mouseenter="projectMouseover(project.value)" ng-mouseleave="projectMouseout()" ng-click="projectClick(project.value)">
      <i ng-if="project.inDev" class="fa fa-code dashboard---projectDevelopment"></i>
      <div class="dashboard---projectTitle">
        <h2>{{project.name}}</h2>
        <hr><hr class="hrLoader">
        <h3>{{project.key}}</h3>
      </div>
      <footer>
        <p class="dashboard---lastUpdate">
          <i class="fa fa-clock-o"></i>
          Last update: <span>{{project.dateLastUpdate}}</span>
        </p>
      </footer>
    </article>
  </section>
</div>