<div class="dashboard modify">
  <nav class="dashboard-tools">
    <div class="dashboard--addProject">
      <i class="fa fa-plus"></i>
      <span>Add a project</span>
    </div>
    <div class="dashboard--filters">
      <span>Filters</span>
    </div>
    <div class="dashboard--search">
      <label>
        <i class="fa fa-search"></i>
        <input type="search" id="search" ng-model="search" class="dashboard---searchInput" title="search" placeholder="Search..." />
      </label>
    </div>
  </nav>



  <section class="dashboard-projects">
    <article ng-repeat="project in projectsDashboard | filter:search | orderBy:project.inDev" class="dashboard--project {{project.value}}" data-value="{{project.value}}" ng-mouseenter="projectMouseover(project.value)" ng-mouseleave="projectMouseout()" ng-click="projectClick(project.value)">
      <i ng-if="project.inDev" class="fa fa-code dashboard---projectDevelopment"></i>
      <div class="dashboard---projectTitle">
        <h2>{{project.name}}</h2>
        <hr><hr class="hrLoader">
        <h3>{{project.key}}</h3>
      </div>
      <footer>
        <p class="dashboard---lastUpdate">
          <i class="fa fa-clock-o"></i>
          Last update: <span>{{project.dateLastUpdate}}</span>
        </p>
      </footer>
    </article>
  </section>

  <div class="dashboard-overlay">
    <div class="dashboard--newProject">
      <h2>Add a Project</h2>
      <form>
        <span class="input">
          <input class="input__field" type="text" id="input-1" />
          <label class="input__label" for="input-1">
            <span class="input__label-content">Name</span>
          </label>
          <svg class="graphic" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
            <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
          </svg>
        </span>

      </form>
    </div>
  </div>
</div>