<div class="dashboard modify">
  <nav class="dashboard-tools">
    <div class="dashboard--search">
      <form action="" method="POST" role="form">
        <label>
          <i class="fa fa-search"></i>
          <input type="search" id="search" ng-model="search" class="dashboard---searchInput" title="search" placeholder="Search..." />
        </label>
      </form>
    </div>
    <div class="dashboard--filters">
      <span>Filters</span>
    </div>

    <div class="dashboard--addProject">
      <i class="fa fa-plus"></i>
      <span>Add a project</span>
    </div>
  </nav>



  <section class="dashboard-projects">
    <article ng-repeat="project in projectsDashboard | filter:search | orderBy:project.inDev" class="dashboard--project {{project.value}}" data-value="{{project.value}}" ng-mouseover="projectMouseover(project.value)" ng-mouseout="projectMouseout()">
      <i ng-if="project.inDev" class="fa fa-code dashboard---projectDevelopment"></i>
      <div class="dashboard---projectTitle">
        <h2>{{project.name}}</h2>
        <hr><hr class="hrLoader">
        <h3>{{project.key}}</h3>
      </div>
      <footer>
        <p class="dashboard---lastUpdate">
          <i class="fa fa-clock-o"></i>
          Last update: <span>{{project.dateLastUpdate}}</span>
        </p>
      </footer>
    </article>


  </section>
</div>