<div class="projects">
	<article class="project hide" id="project1">
      <i class="fa fa-code project---projectDevelopment"></i>
      <div class="project---projectTitle">
        <h2>RegView 1</h2>
        <hr><hr class="hrLoader">
        <h3>OAGSUPP</h3>
      </div>
      <footer>
        <p class="project---lastUpdate">
          <i class="fa fa-clock-o"></i>
          Last update: <span>June 16</span>
        </p>
      </footer>
    </article>
    <article class="project hide" id="project2">
      <i class="fa fa-code project---projectDevelopment"></i>
      <div class="project---projectTitle">
        <h2>RegView 2</h2>
        <hr><hr class="hrLoader">
        <h3>OAGSUPP</h3>
      </div>
      <footer>
        <p class="project---lastUpdate">
          <i class="fa fa-clock-o"></i>
          Last update: <span>June 16</span>
        </p>
      </footer>
    </article>
    <article class="project hide" id="project3">
      <i class="fa fa-code project---projectDevelopment"></i>
      <div class="project---projectTitle">
        <h2>RegView 3</h2>
        <hr><hr class="hrLoader">
        <h3>OAGSUPP</h3>
      </div>
      <footer>
        <p class="project---lastUpdate">
          <i class="fa fa-clock-o"></i>
          Last update: <span>June 16</span>
        </p>
      </footer>
    </article>
    <article class="project hide" id="project4">
      <i class="fa fa-code project---projectDevelopment"></i>
      <div class="project---projectTitle">
        <h2>RegView 4</h2>
        <hr><hr class="hrLoader">
        <h3>OAGSUPP</h3>
      </div>
      <footer>
        <p class="project---lastUpdate">
          <i class="fa fa-clock-o"></i>
          Last update: <span>June 16</span>
        </p>
      </footer>
    </article><article class="project hide" id="project5">
      <i class="fa fa-code project---projectDevelopment"></i>
      <div class="project---projectTitle">
        <h2>RegView 5</h2>
        <hr><hr class="hrLoader">
        <h3>OAGSUPP</h3>
      </div>
      <footer>
        <p class="project---lastUpdate">
          <i class="fa fa-clock-o"></i>
          Last update: <span>June 16</span>
        </p>
      </footer>
    </article>

</div>