<div class="projects">



	<article ng-repeat="project in projects" class="project hide" id="{{project.value}}">
    <header>
      <i ng-if="project.inDev" class="fa fa-code project--projectDevelopment"></i>
      <div class="project--projectTitle">
        <h2>{{project.name}}</h2>
        <h3>{{project.key}}</h3>
      </div>
      <i class="fa fa-pencil"></i>
    </header>
    <ul class="project-date">
      <li>Creation Date: <span>{{project.dateCreated}}</span></li>
      <li>Started Date: <span>{{project.dateLastUpdate}}</span></li>
    </ul>
    <ul class="project-links">
      <li>
        <a ng-href="{{project.linkProd}}" title="Production Link">
          <i class="fa fa-link"></i>
          {{project.linkProd}}
        </a>
      </li>
      <li ng-if="showLinkDev(project)">
        <a ng-href="{{project.linkDev}}" title="Development Link">
          <i class="fa fa-link"></i>
          {{project.linkDev}}
        </a>
      </li>
    </ul>

    <main>
      <div class="content">{{project.introduction}}</div>
      <ul class="contentToc">
        <li ng-repeat="tocPage in project.tableOfContent">
          <a ng-href="{{tocPage.link}}" title="{{tocPage.content}} link">
            <span>{{$index + 1}}</span>
            {{tocPage.content}}
            <ul ng-if="tocPage.children" class="contentTocChildren">
              <li ng-repeat="tocPageChild in tocPage.children">
                <a ng-href="{{tocPage.link}}" title="{{tocPage.content}} link">
                  <span>{{$index + 1}}</span>
                  {{tocPageChild.content}}
                </a>
              </li>
            </ul>
          </a>
        </li>
      </ul>
    </main>
  </article>

</div>